@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex align-items-center gap-3">
                        <span class="text-black">
                            <i class="bi bi-person-circle"></i>
                            Welcome, <strong>@context.User.FindFirst("FullName")?.Value</strong>
                        </span>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>