<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SCMS.BlazorWebApp.TienPVK</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-2"></i>Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/clubstienpvks">
                        <i class="bi bi-people-fill me-2"></i>Clubs
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/profile">
                        <i class="bi bi-person-circle me-2"></i>My Profile
                    </NavLink>
                </div>

                <AuthorizeView Roles="1" Context="adminContext">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin">
                                <i class="bi bi-shield-check me-2"></i>Admin
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/logout">
                        <i class="bi bi-box-arrow-right me-2"></i>Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">
                        <i class="bi bi-box-arrow-in-right me-2"></i>Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>